@media screen and (max-width: 480px) {
	.content {
		width: 300px;
	}

	.site_logo {
		font-size: 30px;
	}

	.advantage {
		width: 300px;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.advantage_1 {
		margin-right: 10px;
	}

	.advantage_2 {
		margin-left: 70px;
	}

	.advantage_3 {
		display: block;
		margin-left: 150px;
	}

	.what_ve {
		width: 300px;
	}

	.block_like {
		width: 300px;
	}

	#l1 {
		font-size: 20px;
	}

	#ldesp {
		font-size: 19.50px;
	}

	#buybutton {
		font-size: 25px;
	}
}