body {
	font-family: 'JetBrains Mono', monospace;
	color: #282828;
}

.content {
	width: 600px;
	margin: 0 auto;
}

.site_logo {
	font-size: 40px;
	text-align: center;
	font-family: 'Russo One', sans-serif;
}

.tg {
	color: #4AC0FB;
}

.advantage {
	width: 380px;
	margin: 0 auto;
	margin-top: 150px;
	margin-bottom: 150px;
}

.advantage_1 {
	width: 100px;
	display: inline-block;
	margin-right: 30px;
}

.advantage_2 {
	width: 100px;
	display: inline-block;
}

.advantage_3 {
	width: 100px;
	display: inline-block;
	margin-left: 30px;
}

#advphoto {
	width: 45px;
	background: #4AC0FB;
	box-shadow: 0 0 15px #4AC0FB;
	border-radius: 20px;
	padding: 7px;
	transition: 0.2s;
}

#advp {
	font-size: 20px;
}


#advdesp {
	font-size: 20px;
}

.what_ve {
	font-size: 25px;
	width: 400px;
	margin-top: 20px;
	text-align: center;
	border: 3px solid black;
	border-radius: 50px;
	margin: 0 auto;
}

.block_like {
	width: 400px;
	margin: 0 auto;
}

.p1 {
	margin-top: 20px;
	margin-bottom: 20px;
}

#l1 {
	font-size: 20px;
	background: #4AC0FB;
	border-radius: 100px;
	width: 25px;
	padding: 10px;
	box-shadow: 0 0 15px #4AC0FB;
	text-align: center;
	display: inline-block;
}

#ldesp {
	font-size: 25px;
	display: inline-block;
}

.buy {
	width: 150px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 50px;
}

#buybutton {
	color: #282828;
	font-size: 25px;
	background: #4AC0FB;
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	box-shadow: 0 0 15px #4AC0FB;
}