body {
	background-color: #29332A;

}

#name_site {
	color: white;
	font-family: arial black;
	font-size: 100px;
	text-align: center;
	background-image: url(https://i.gifer.com/Z6W8.gif);
	padding: 10px;
}

#menu {
	text-align: center;
	padding: 10px;
}

#href {
  font-weight: 700;
  font-size: 4em;
  color: white;
  font-family: arial;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 10px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.5s;
  margin: 10px;
}

#href:hover {
	background-color: #319963;
}

#info {
	color: #eac600;
	font-size: 4em;
	transition: 1.5s;
	font-family: tahoma ;
}


#news {
	color: white;
	font-family: arial black;
	text-decoration: none;
	text-align: center;
	font-size: 4em;

}

#content {
	box-shadow: 0 0 20px 0.5px #5F7661;	
	width: 80%;
	padding-top: 0.4%;
	padding-bottom: 0.1%;
	margin-top: 50px;
	border-radius: 20px 40px;
	background-color: #273028;
	margin-right: -10px;
	margin-left: 10%;
}

#cont_2 {
	color: white;
	font-size: 2.2em;
	font-family: arial;
	padding: 5px;
}

#zag {
	color: #FF9800;
	font-size: 4em;
	text-align: center;
	font-family: arial black;
}
