body {
	background-image: url(https://goodakk.ru/assets/93f8d5f2/images/pattern_bg.jpg);
}

.log {
	color: #C6FF03 ;
	font-size: 7em;
	font-family: arial black;
	text-shadow: 2px 1px 1px #000;

}

#menu1 {
	color: white;
	background-color:#F19B2C;
	font-size: 5.5em;
	text-decoration: none;
	padding: 3px;
	border-radius: 30px 20px;
	width: 150%;
	padding-right: 100px;
	padding-left: 100px;
	font-family: tahoma;
	text-align: center;
}

#menu2 {
	color: white;
	background-color: #F19B2C;
	font-size: 5.5em;
	text-decoration: none;
	padding: 3px;
	width: 150%;
	padding-right: 200px;
	padding-left: 200px;
	font-family: tahoma;
	border-radius: 30px 20px;

}

#menu3 {
	color: white;
	background-color: #F19B2C;
	font-size: 5.5em;
	text-decoration: none;
	padding: 3px;
	width: 150%;
	padding-right: 225px;
	padding-left: 225px;
	font-family: tahoma;
	border-radius: 30px 20px;

}

.men {
	margin-top: 50px;
}

#soc {
	margin-top: 90%;
	background-image: url(https://cdn141.picsart.com/318035229031211.png);
}

#l_text {
	color: white;
	font-size: 4em;
	font-family: arial;

}

#inp {
	width: 80%;
	border-radius: 100px;
	height: 90px;
	font-size: 3em;
	text-align: center;
	outline: none;
}

.pos_zad {
	text-align: center;
	color: white;
	font-family: arial;
	font-size:4em;
}