body {
	background: #222222;
	margin-top:15px ;
	-webkit-tap-highlight-color: transparent;

}

.name_site {
	color: white;
	font-size: 20px;
	font-family: 'Russo One', sans-serif;
	margin-left: 10px;
}


.menu {
	background: #121212;
	width: 1000px;
	margin: 0 auto;
	height: 80px;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 0 0 15px black;
	margin: 0 auto;

}

#logo {
	width: 70px;
}

.kotolog {
	margin:  auto;
	width: 1000px;
	margin-top: 10px;
}

.sitebar {
	background:  #121212;
	margin: 0 auto;
	width: 1000px;
	margin-top: 15px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px black;
	text-align: center;

}

.c_1 {
	width: 900px;
	margin: 0 auto;

}

#t_img {
	width: 300px;
	border-radius: 10px;
	margin-top:5px ;
	margin: 0 auto;
}

.tovar {
	width: 300px;
	padding: 5px;
	border-radius: 10px;
	background: #121212;
	float: left;
	margin-bottom: 20px;
	margin: 5px;
	box-shadow: 0 0 5px black;
	transition: 0.2s;
}

.tovar:hover {
	box-shadow: 0 0 10px black;
}

#bio_t {
	color: white;
	font-size: 20px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin-top:10px;
}

#price {
	color: #FDB900;
	font-family: 'Russo One', sans-serif;
	font-size: 20px;
}

#buy_butt {
	color: black;
	text-decoration: none;
	background: #66F321;
	padding-top: 5px;
	font-size: 18px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 100px;
	transition: 0.2s;

}

#buy_butt:hover {
	background: #53ff00;
	color: white;
	text-shadow: 0 0 5px black;
}

#menu_gs {
	color: white;
	font-size: 23px;
	text-decoration: none;
	margin-left:10px ;
	font-family: 'Russo One', sans-serif;
	transition: 0.2s;
}
#menu_gs:hover {
	color: FC9700;
}
@media screen and (max-width : 480px) {
	.menu {
		width: 290px;
		height:70px;
	}

	.tovar {
		width:290px;
		margin-bottom: 10px;
		margin:0 auto;
        margin-bottom:10px;
	}

	.sitebar {
		width: 290px;
	}

	.kotolog {
		width: 300px;
	}

	#menu_gs {
		font-size: 22px;
	}

	#menu_gs {
		font-size:20px;
	}

	.name_site {
		font-size:21px;
	}

	#logo {
		width:60px;
	}

	#t_img {
		width:290px;
	}
}